<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vitelcoarge">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_vitelco"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_vitelco"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".PostActivityAfterRecognition"></activity>
        <activity android:name=".LoginController.LoginActivity" />
        <activity android:name=".UI.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Local.LocalDatabase" />
        <activity android:name=".Volley.PostTokenActivity" />
        <activity android:name=".Volley.PostImageRecognitionActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".LoginController.LoginControlActivity">
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>